<%#= content_tag :div, id: dom_id(comment), class: "card mb-3" do %>
<%= turbo_frame_tag dom_id(comment), class: "card mb-3" do %>

  <div class="card-body">

    <%= render 'comments/button_section', comment: comment %>

    <p class="card-text"><%= comment.content %></p>
    <p id='<%= dom_id(comment)%>_count'>
      <%= comment.vote_count %>
    </p>

    <%= render 'comments/votes_link', comment: comment, static: true %>

  </div>
<% end %>
