<%= form_with model: comment,
              id: dom_id(comment),
              target: :_top do |form| %>
  <%= render partial: 'shared/errors', locals: { object: comment } %>
  <div class="mb-3">
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <% unless form.object.new_record? %>
      <%= link_to "Cancel edit", comments_path,
          class: 'btn btn-link' unless comment.new_record? %>
    <% end %>
  </div>
<% end %>
