<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <%= link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle d-flex", data: { target: "nav-account-dropdown", bs_toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
      <%= AvatarPresenter.call(current_user, 40) %>
    <% end %>
    <div id="nav-account-dropdown" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
      <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>

<% else %>
  <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
<% end %>
