<%= turbo_frame_tag dom_id(product), class: "col-lg-3 col-md-6 mb-3 mx-auto",
    data: { controller_name: "#{controller_name}", action_name: "#{action_name}" } do %>
  <div class="product-card">
    <div class="product-actions">
      <button class="btn btn-sm"><i class="fa fa-share"></i></button>
      <button class="btn btn-sm"><i class="fa fa-heart-o"></i></button>
      <%= link_to product, class: "btn btn-sm", data: { turbo_frame: :products } do %>
        <i class="fa fa-eye"></i>
      <% end %>

      <%= link_to edit_product_path(product), class: "btn btn-sm", data: { turbo_frame: :products } do %>
        <i class="fa fa-pencil"></i>
      <% end %>

      <%= button_to product,
                    method: :delete,
                    form: { data: { turbo_confirm: 'Are you sure?' }},
                    class: 'btn btn-sm',
                    data: { turbo_frame: :products }  do %>
          <i class="fa fa-trash" ></i>
      <% end %>


    </div>
    <%= image_tag(product.images.first, class: 'w-100') if product.images.attached? %>
    <div class="product-info">
      <div class="product-meta">
        <p class="product-id">
          SKU: <%= product.sku %>
        </p>
        <h6 class="product-title">
          <%= product.name %>
        </h6>
        <p class="product-rating">
          <%#= product.popularity %>
          <% product.popularity.to_i.times do %>
            <i class="fa fa-star"></i>
          <% end %>
          <% (5 - product.popularity.to_i).times do %>
            <i class="fa fa-star-o"></i>
          <% end %>
        </p>
      </div>
      <div class="product-properties">
        <div class="product-size">
          <span>
            Size
            <%#= product.size %>
          </span>
          <ul>
            <% Product::sizes.keys.each do |size| %>
              <li class="<%= 'text-muted opacity-50 disabled not-allowed' unless size == product.size %>">
                <%= size.upcase %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="product-color">
          <span>
            Color
            <%= product.color %>
          </span>
          <ul>
            <li class="orange"></li>
            <li class="green"></li>
            <li class="pink"></li>
          </ul>
        </div>
      </div>
      <div class="product-footer">
        <div class="product-price">
          <div class="product-price-new">
            USD <%= product.price %>
            <%#= product.discount %>
          </div>
        </div>
        <button class="btn btn-sm"><i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
<% end %>

<%#= product.desription %>
<%#= product.category_id %>
<%#= product.sex %>
